@font-face {
    font-family: pirateFont;
    src: url('../fonts/JackPirateAlt_PERSONAL_USE_ONLY.ttf');
}

body {
    margin: 0;
    min-height: 100vh;
    background: url('../imgs/background.jpg') no-repeat;
    background-size: cover;
    text-align: center;
}

label, p {
    color: rgb(118,10,10);
}

.registration-form {
    margin: 0 auto;
}

.quit {
    background: url('../imgs/graffiti.gif');
}

h1 {
    font-size: 42px;
    font-family: pirateFont;
    color: 	rgb(118,10,10);
}

input[type="button"] {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 4px 12px;
    cursor: pointer;
}

#register-btn {
    background-color: rgb(24, 155, 231);
    transition: 200ms ease-in;
}

#register-btn:hover {
    background-color: rgb(22, 116, 170);
}

input[value="Play Again"] {
    background-color: rgb(186, 206, 6);
    transition: 200ms ease-in;
}

input[value="Play Again"]:hover {
    background-color: rgb(138, 153, 3);
}

input[value="Quit"] {
    background-color: rgb(212, 39, 39);
    transition: 200ms ease-in;
}

input[value="Quit"]:hover {
    background-color: rgb(177, 29, 29);
}

input[value="Play"], #guess-btn {
    background-color: rgb(12, 189, 50);
    transition: 200ms ease-in;
}

input[value="Play"]:hover, #guess-btn:hover {
    background-color: rgb(13, 156, 44);
}

input[type="button"]:disabled,
input[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.hide {
    display: none;
}